<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8"/>
		<link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen" charset="utf-8"/>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
        <title>{{ page.title }} - BPELUnit Project</title>
    </head>
    <body>
        <div id="top">

            <div id="logo">
                <a href="/" class="imagelink"><img src="/images/layout/logo.png"/></a>
            </div>

            <div id="menu">
                <div id="menu_links">
                    <span class="menu_point"><a href="/">News</a></span>
                    <span class="menu_point"><a href="/introduction">Introduction</a></span>
                    <span class="menu_point"><a href="/screenshots">Screenshots</a></span>
                    <span class="menu_point"><a href="/download">Download</a></span>
                    <span class="menu_point"><a href="/documentation">Documentation</a></span>
                    <span class="menu_point"><a href="/community">Community</a></span>
                    <span class="menu_point"><a href="http://github.com/bpelunit/bpelunit/issues">Reporting Bugs</a></span>
                </div>  
            </div>
        </div>
        <div class="clear"/>
        <div id="container">

            <div id="buttons">
                <a href="/download"><img src="/images/buttons/download.png"/></a>
                <a href="http://groups.google.com/group/bpelunit"><img src="/images/buttons/support.png"/></a>
                <a href="/support"><img src="/images/buttons/check.png"/></a>
                <a href="/faq"><img src="/images/buttons/faq.png"/></a>
            </div>

            <div class="line"></div>


            <div id="content">
                <img src="/images/layout/pagetitle.png" class="pagetitle_image"/><span class="pagetitle">{{ page.title }}</span><br/><br/>
                {{ content }}
            </div>

            <div class="line2"></div>

            <div class="right"></div>

        </div>
    </body>
</html>
